/* :first-child => 자식태그 중 첫번쨰 자식태그에 스타일 지정 
*  :last-child => 자식태그 중 마지막 자식태그에 스타일 지정
*/

table,td {
  border: 1px solid black;
  border-collapse: collapse;
}

tr:first-child {
  background: yellow;
  color: green;
}

tr:last-child {
  background: red;
  color: white;
}