/* color 속성: 글자의 색상을 지정하는 속성. font 관련 속성이 아니기 때문에 font 에서 지정할 수 없다.
*/
h1 {
  /* 16진수 값으로 지정할 때는 앞에 #을 붙인다.*/
  color: #fa87cb;
} 

h2 {
  /* 16진수 값으로 지정할 때 2자리씩 반복되는 값은 세자리로 축약가능.*/
  color: #fa0;
}

h3 {
  /* rgb 로 값을 입력할때는 red, green, blue 값을 0~255까지 값을 지정해서 색상의 조합으로 색상을 결정한다.
  *  16진수 값도 마찬가지.
  */
  color: rgb(130, 100, 50);
}

p {
  /* 색상 이름으로도 지정 가능*/
  color: lightblue; 
}