/* transform 도 css 의 속성이기 때문에 transition-property 로 지정할 수 있다. */

.box {
  width: 100px;
  height: 100px;
  border: 1px solid black;
  transition-property: transform;
  transition-duration: 3s;
}

.box:hover {
  transform: translate(50px, 50px);
}