/* 인라인 레벨 태그는 박스 모델이 아니어서 width, height, padding, margin 값을 가질 수 없고, 
* 한 줄에 여러개의 태그를 배치할 수 있다.
*/

span {
  color: white;
  width: 100px;
  height: 100px;
}

.box1 {
  background-color: red;
}

.box2 {
  background-color: green;
}

.box3 {
  background-color: blue;
}