div {
  width: 100px;
  height: 100px;
  margin: 10px;
  border: 2px solid black;
  display: inline-block;
}

.box1 {
  /*각 꼭지점을 다른 크기로 둥글게 만듦*/
  /*각 꼭지점을 타원형으로 둥글게 만들기
  * 가로 반지름길이 세로 반지름 길이
  */
  border-top-left-radius: 10% 5%;
  border-top-right-radius: 20px 40px;
  border-bottom-left-radius: 5% 10%;
  border-bottom-right-radius: 70px 40px;
}

.box2 {
  /*모든 꼭지점을 동일한 크기로 둥글게 만듦*/
  /*모든 꼭지점을 타원형으로 둥글게 만들기
  * 가로 반지름길이/세로 반지름 길이
  */
  border-radius: 30px/10px;
}
