/*margin: 박스모델과 박스모델 사이의 거리를 조절하는 속성*/

div {
  width: 100px;
  height: 100px;
  background: skyblue;
  display: inline-block;
}

.box1 {
  /*네 방향 모두 동일한 margin 값 적용*/
  margin: 30px;
}

.box2 {
  /*각 방향마다 margin 값 적용*/
  margin-top: 10px;
  margin-right: 20px;
  margin-bottom: 30px;
  margin-left: 40px;
}

.box3 {
  /*margin 속성의 값이 두개면 첫번째 값은 위 아래 margin
  * 두번째 값은 좌 우 margin
  */
  margin: 30px 20px;
}

.box4 {
  /*margin 속성의 값이 두개면 첫번째 값은 위  margin
  * 두번째 값은 좌 우 margin
  * 세번쨰 값은 아래 margin
  */
  margin: 30px 20px 10px;
}

.box5 {
  /*margin 속성의 값이 두개면 첫번째 값은 위  margin
  * 두번째 값은 우 margin
  * 세번쨰 값은 아래 margin
  * 네번째 값은 좌 margin
  */
  margin: 40px 30px 20px 10px;
}

.box6 {
  /* 좌우 margin 을 auto 로 주면 width 를 뺀 나머지 길이를 
  * 반반으로 나눠서 좌우 margin 으로 사용한다.
  * 수평으로 항상 가운데 정렬돼있는 태그를 만들 수 있다.
  * 수직 margin 은 불가능하다. (height 값이 콘텐츠의 양만큼 잡히기 때문)
  */
  display: block;
  margin: 10px auto 20px;
}