/* background-origin: 배경 이미지를 배치할 기준을 설정하는 속성 */

div {
  width: 500px;
  height: 500px;
  border: 50px solid rgba(0, 0, 0, .1);
  margin: 20px;
  padding: 50px;
  background-image: url(../../../images/bit.png);
  background-repeat: no-repeat;
}

.box1 {
  /*border-box: border 를 기준으로 배경이미지를 배치한다. */
  background-origin: border-box;
}

.box2 {
  /*padding-box: padding 을 기준으로 배경이미지를 배치한다.*/
  background-origin: padding-box; 
}

.box3 {
  /*content-box: content 내용 기준으로 배경이미지를 배치한다.*/
  background-origin: content-box; 
}

