/*border-collapse: 표의 테두리와 셀의 테두리의 통합 표출 여부를 설정하는 속성*/

table {
  border: 1px solid black;
  /*기본값은 seperate 로 설정하지 않으면 표와 셀의 테두리가 분리돼서 표출*/
  border-collapse: collapse;
  /* width: 300px;
  height: 300px; */
}

th, td {
  border: 1px solid black;
  width: 150px;
  height: 70px;
  text-align: center;
}