/* flex-wrap: flex 항목들을 한줄로 배치할 건지 여러줄로 배치할 건지 결정하는 속성 
* (기본값은 nowrap으로 한줄 표시)
* flex-container 크기보다 커지면 자동으로 항목들의 크기를 줄인다.
*/

.container {
  display: flex;
  flex-wrap: wrap-reverse;
}

.box {
  width: 500px;
  height: 500px;
  background: red;
  color: whitesmoke;
}