/* column-gap: 컬럼들간의 간격을 조절
* row-gap: 행들간의 간격을 조절
* gap: 컬럼, 행 간격을 한번에 조절
*/

.container {
  display: grid;
  margin: 20px;
  grid-template-columns: repeat(4, minmax(100px, 1fr));
  grid-template-rows: 100px 100px;
  /* column-gap: 20px;
  row-gap: 30px; */
  /* 첫번째 값이 행의 간격, 두번째 값이 컬럼의 간격*/
  gap: 20px 100px;
}

.box1 {
  background: orangered;
}

.box2 {
  background: greenyellow;
}

.box3 {
  background: aqua;
}

.box4 {
  background: brown;
}

.box5 {
  background: violet;
}

.box6 {
  background: yellow;
}

.box7 {
  background: blue;
}

.box8 {
  background: red;
}