/* grid-box 에는 보이지 않는 선들이 존재하는데, 그 선들을 grid-line 이라고 부른다.
* grid-box 에서는 grid-line 을 이용해서 항목들을 배치할 수 있는 기능을 제공한다.
* grid-line 을 이용한 배치 방식은 그리드 항목의 속성으로 지정하며,
* 지정하면 행병합 열병합이 일어난 것처럼 배치할 수 있다.
* grid-column-start: 컬럼의 시작 라인 번호를 지정
* grid-column-end: 컬럼의 끝 라인 번호를 지정
* grid-column: grid-column-start/ grid-column-end 의 값을 한번에 지정

* grid-row-start: 컬럼의 시작 라인 번호를 지정
* grid-row-end: 컬럼의 끝 라인 번호를 지정
* grid-row: grid-row-start/ grid-row-end 의 값을 한번에 지정
*/

.container {
  display: grid;
  margin: 20px;
  grid-template-columns: repeat(4, minmax(100px, 1fr));
  grid-template-rows: repeat(4, 100px);
}

.box1 {
  background: orangered;
  /* 그리드 라인을 이용한 배치는 그리드 항목의 속성으로 지정한다. */
  /* grid-column-start: 1;
  grid-column-end: 3; 
  grid-row-start: 1;
  grid-row-end: 4; */
  /*grid-template-columns 에서 지정한 개수보다 크게 지정해도, 지정한 컬럼의 개수를 벗어나지 않는다.*/
  grid-column: 1/3;
  grid-row: 1/4;
}

.box2 {
  background: greenyellow;
}

.box3 {
  background: aqua;
}

.box4 {
  background: brown;
}

.box5 {
  background: violet;
}

.box6 {
  background: yellow;
}

.box7 {
  background: blue;
}

.box8 {
  background: red;
}