/*float: 태그를 다른 레이어로 옮겨서 왼쪽이나 오른쪽에 배치하는 속성*/

div {
  width: 30px;
  height: 30px;
}

.box1 {
  background: orange;
  float: left;
}

.box2 {
  background: lightblue;
  float: left;
}

.box3 {
  background: lightcoral;
  float: left;
}

.box4 {
  background: seagreen;
  float: right;
}

.box5 {
  background: fuchsia;
  margin-left: 200px;
  margin-top: 100px;
}